@font-face {
    font-family: 'GoodLight';
    src: url('../fonts/goodlight-webfont.woff2') format('woff2'),
         url('../fonts/goodlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GoodLight';
    src: url('../fonts/goodlight-light-webfont.woff2') format('woff2'),
         url('../fonts/goodlight-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}